################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fizz-Buzz/.vs/Fizz-Buzz/v16/Server/sqlite3
